@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-amber-black: #2f9ff8;
  --app-black: #072d4b;
  --app-light-blue: rgba(47, 159, 248, 0.1);
  --app-blue: #2f9ff81a;
  --app-blue-deep: #0768b5;
  --app-sky-blue: #2f9ff8;
}

@layer components {
  .btn-regular{
    @apply bg-white px-3 py-2 rounded-3xl sm:px-4  hover:text-white hover:bg-sky-blue text-sm

  }
}
