@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-amber-black: #2f9ff8;
  --app-black: #072d4b;
  --app-blue: #2f9ff81a;
  --app-blue-deep: #0768b5;
  --app-sky-blue: #2f9ff8;
}
